.floats{
	float: left !important;
}
.pad-top{
	padding-top: 40px !important;
}
.height{
	height:50px !important;
}
.wid{
	width:250px !important;
	margin: 0 auto;
}
.glyphicon-log-out {
    font-size: 20px;
}
.twid{
	width:900px !important;
	margin: 0 auto;

}
.twid tr td,th{
	text-align: center !important;
	width:500px !important;
}




/*angi----------------------*/
.padtop .form-control{
	width:30% !important;
	margin: 0 auto;
}
.padtop{
	padding-top: 80px;
}
.newreg{
font-family: timesnewroman !important;
color: #ff0080 !important;
}
.newregheader{
	font-family: timesnewroman;
	color: #ff0080;
}

