.floats{
	float: left !important;
}
.pad-top{
	padding-top: 40px !important;
}
.height{
	height:50px !important;
}
.wid{
	width:250px !important;
	margin: 0 auto;
}
.glyphicon-log-out {
    font-size: 20px;
}